body {
	background-color: #fff;
	color: #333;
	font: 16px/1.5 sans-serif;
	margin: 0;
}

header {
	background-color: #005aaa;
}

header h1 {
	margin: 0;
	padding-left: .5em;
}

h1 {
	color: black;
	font-size: 40px/1;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav li a {
	display: block;
	padding: .5em 1em;
	color #fff
	text-decoration: none;
}

header nav li a:active; {
	background-color #fff;
	color: #005aaa;
}

main img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 3px 0 rgba(50,50,50,.75);
}

main {
	padding: 0 1em;
}

s {color: #c00;}

button { 
	background-color: #0005aa;
	color: #fff;
	border:1px outset #0005aa;
	font-size: 0.9em;
	padding: .4em .7em;

}

footer {
	background-color: #222;
	color: white;
	padding: 0;
	margin: 0 auto;
}

.cf:before, .cf:after;
footer:before, footer:after {
	display: table;
	content: "";
}

.cf:after,
footer:after {
	clear: both;
}
}
